.app {
  min-height: 100vh;

  .header {
    position: fixed;
    z-index: 1;
    width: 100%;

    .logo {
      background: url("./img/logo.png");
      background-size: 100% 100%;
      width: 265px;
      height: 40px;
      position: absolute;
      top: 12px;
      left: 12px;
    }

    .btn-collape {
      color: #fff;
    }
  }

  .body {
    margin-top: 64px;

    .menu-side {
      overflow: auto;
      height: 100vh;
      left: 0;

      .menu {
        position: fixed;
        width: 200px;
      }
    }

    .content-side {
      .breadcrumb {
        margin: 16px 0;
      }
    }
  }
}
