.listPage {
  .condition {
  }

  .lineBelowCondition {
    margin-top: 10px;
    //border-bottom: solid 1px #ccc;
    height: 1px;

    background-image: linear-gradient(to right, #f0f2f5, #666, #f0f2f5);

    margin-bottom: 10px;
  }

  .tableList {
    
    // 紧凑型表格不固定的列的背景色
    :global(.ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-tbody > tr > td) {
      background-color: #fff;
    }

    // 紧凑型表格不固定的列鼠标移上去时的背景色
    :global(.ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-tbody > tr.ant-table-row-hover > td) {
      background-color: #e6f7ff;
    }
  }

  .pagination {
    text-align: right;
    margin-top: 10px;
  }
}
