.listPage {
  .condition {
  }

  .lineBelowCondition {
    margin-top: 10px;
    //border-bottom: solid 1px #ccc;
    height: 1px;

    background-image: linear-gradient(to right, #f0f2f5, #666, #f0f2f5);

    margin-bottom: 10px;
  }

  .tableList {
    // .ant-table-middle tr td {
    //   padding: 5px 3px 5px 3px !important;
    // }
  }

  .pagination {
    text-align: right;
    margin-top: 10px;
  }
}
